.awards-img {
    color: #fff;
}

.webawards {
    height: 80px;
    width: 150px;
    margin-bottom: 30px;
}

.cssdesign {
    height: 180px;
    width: 130px;
    margin-bottom: 20px;
}

.awwwards {
    height: 50px;
    width: 200px;
    margin-bottom: 30px;
}

.table-img {
    width: 100%;
    margin-top: 10px;
    border-radius: 15px;
}